.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #41463b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ead1a3;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.job_section {
  margin: 8px;
  border-bottom: 1px black solid;
  padding-bottom: 8px;

  .job_company_info {
    padding-bottom: 4px;

    .job_title {
      font-style: italic;
    }

    .job_company_name {
      font-weight: 600;
    }

    .job_dates {
      float: right;
      font-style: italic;

      .job_start_date {
        font-size: 1em;
      }

      .job_end_date {
        font-size: 1em;
      }
    }
  }

  .job_description {
    padding-bottom: 4px;
  }

  .job_skills {
    font-size: 1em;
  }
}
